html,body{
	padding: 0px;
	margin:0px;
}
.body{
	margin:20px;
	padding:20px;
	background-color: #eee;
	border:1px solid #999;
	overflow: auto;
}
.left{
	display: block;
	width:200px;
	float: left;
    border: 1px solid #999;
    background-color: #fff;
}
#img{
	display: inline-block;
	float: left;
	width:80px;
	height: 80px;
}
.left span{
	font-family:"Microsoft Yahei";
	font-size:15px;
	display: block;
	margin-top: 20px;

}
p{
	text-align: center;
	font-family:"Microsoft Yahei";
	font-size:25px;
}
.center{
	border:1px solid #999;
	background-color: #fff;
	margin-left: 220px;
	margin-right: 140px;
}
.right{
	display: inline-block;
	width:118px;
	float: right;
    color: #fff;
    border: 1px solid #999;

}
img{
	margin-left: 20px;
	width:80px;
	height:80px;
	margin:20px;

}